.DS_Store
vue-admin/node_modules/
vue-admin/dist/
vue-admin/npm-debug.log*
vue-admin/yarn-debug.log*
vue-admin/yarn-error.log*
vue-admin/**/*.log
vue-admin/tests/**/coverage/
vue-admin/tests/e2e/reports
vue-admin/selenium-debug.log

# Editor directories and files
vue-admin/.idea
vue-admin/.vscode
vue-admin/*.suo
vue-admin/*.ntvs*
vue-admin/*.njsproj
vue-admin/*.sln
vue-admin/*.local

vue-admin/package-lock.json
vue-admin/yarn.lock
